@import '../../../scss/variables.scss';
@import '~@riapacheco/yutes/season/two.scss';
@import '../../../scss//keyframes.scss';
.content-wrapper {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
  h5 {
    margin-bottom: 2rem;
    padding-left: 5px;
  }

  &:first-child {
    padding-top: 5rem;
  }
}

.row-div {
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  div:first-child {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-right: 2rem;
  }
  div:nth-child(2) {
    font-size: 1.4rem;
  }
}

.error-message {

  .main-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  border-radius: 7px;
  padding: 20px;
  width: 40%;
  margin: auto;
  border: 1px solid $danger;
}

a.copy-btn {

  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  
  .material-icons {
    margin-left: 2rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.65rem;

    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    opacity: 0.15;
  }
}

.row-div:hover {
  div {
    &:first-child {
      a {
        .material-icons {
          opacity: 0.3;
          animation: shake 0.4s;
        }

        &:hover {
          .material-icons {
            opacity: 1;
          }
        }
      }
    }
  }
}