<dialog id="appsDialog">
  <form method="dialog">
    <h1>Hello</h1>
  </form>
</dialog>
<app-rc-top-nav
  (linkClick)="onLinkClick($event)"
  (logoClick)="onLogoClick($event)"
  (mouseoverEvent)="onMouseover($event)"
  (mouseoutEvent)="onMouseout($event)"
  >
</app-rc-top-nav>

<div [ngClass]="isMobile ? 'intro-section mobile' : 'intro-section'">
  <div class="title-block">
    <h1>
      <span>ri</span>Created
    </h1>
  </div>

  <div class="mockup">
    <img src="../../../assets/img/mockups/blood-orange-phone.png" alt="">
  </div>
</div>


<div [ngClass]="isMobile ? 'section-light mobile' : 'section-light'">
  <div class="section-light-content">
    <div class="title-block">
      <h1 class="light-section-h1">
        UX-Focused Development
      </h1>
      
      <br>
  
      <h3>
        Apps I've always wanted.
      </h3>
    </div>

    <div class="logos">
      <a
        *ngFor="let app of apps"
        (click)="onBadgeClick(app.label)"
        >
        <ng-container *ngIf="!app.showsAlt;else altIconBlock">
          <i class="material-icons">
            {{ app.icon }}
          </i>
        </ng-container>
        <ng-template #altIconBlock>
          <i class="material-icons">code</i>
        </ng-template>

        <ng-container *ngIf="!app.showsAlt;else altLabelBlock">
          <span>{{ app.label }}</span>
        </ng-container>
        <ng-template #altLabelBlock>
          <span>{{ app.altLabel }}</span>
        </ng-template>
      </a>
    </div>
  </div>
</div>

<div #riReaderScrollTo></div>

<div [ngClass]="isMobile ? 'rireader-section mobile' : 'rireader-section' ">
  <div class="rireader-content">

    <div class="title-block">
      <i class="material-icons">auto_stories</i>
      <h1>
        RiReader
      </h1>

      <ng-container *ngIf="!isMobile">
        <div class="tag-block">
          <div class="tag-content">
            In Development
          </div>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="isMobile">
      <div class="show-tag on-mobile">
        <div class="tag-block">
          <div class="tag-content">
            In Development
          </div>
        </div>
      </div>
    </ng-container>
    <div class="value-props">
      <div class="prop">
        <div class="prop-title">
          <i class="material-icons">speed</i>
          <h3>
            Maximize Reading Efficiency
          </h3>
        </div>

        <div class="prop-body">
          Keep your reading sessions uninterrupted by storing multi-line passages from your favorite books & research papers, captured by your smartphone's camera and the power of a neural net OCR engine for high recognition accuracy.
        </div>
      </div>

      <div class="prop">
        <div class="prop-title">
          <i class="material-icons">
            tips_and_updates
          </i>
          <h3>
            Capture Key Ideas Intuitively
          </h3>
        </div>

        <div class="prop-body">
          Store contextual notes, tags, and details with every book passage you capture, to easily review important ideas and refresh each idea's impact on the bigger picture every time you open the app.
        </div>
      </div>

      <div class="prop">
        <div class="prop-title">
          <i class="material-icons">
            scale
          </i>
          <h3>
            Think Bigger
          </h3>
        </div>

        <div class="prop-body">
          Get to know what's important to you with a weighted and flexible book scoring system, covering criteria that includes the author's organization of content, their use of examples, and much more.
        </div>
      </div>
    </div>


  </div>
</div>