<div class="command-line">
  <div class="top-area">
    <a
      (click)="onEscape($event)"
      class="esc">
      <div class="inner-esc">
        <code>ESC</code>
      </div>
    </a>
  </div>
  <div class="content-area">

    <!-- ------------------------------- BANNER -------------------------------- -->
    <div class="banner">
      <div
        (click)="showRandomBanner()"
        [ngSwitch]="currentBanner">
        <ng-container *ngSwitchCase="'ansiShadow'">
          <pre class="ansi-shadow">
            ██████╗ ██╗ █████╗    ██████╗ ██╗   ██╗███╗   ██╗
            ██╔══██╗██║██╔══██╗   ██╔══██╗██║   ██║████╗  ██║
            ██████╔╝██║███████║   ██████╔╝██║   ██║██╔██╗ ██║
            ██╔══██╗██║██╔══██║   ██╔══██╗██║   ██║██║╚██╗██║
            ██║  ██║██║██║  ██║██╗██║  ██║╚██████╔╝██║ ╚████║
            ╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝            
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'bloody'">
          <pre class="bloody">
            ██▀███   ██▓ ▄▄▄            ██▀███   █    ██  ███▄    █ 
            ▓██ ▒ ██▒▓██▒▒████▄         ▓██ ▒ ██▒ ██  ▓██▒ ██ ▀█   █ 
            ▓██ ░▄█ ▒▒██▒▒██  ▀█▄       ▓██ ░▄█ ▒▓██  ▒██░▓██  ▀█ ██▒
            ▒██▀▀█▄  ░██░░██▄▄▄▄██      ▒██▀▀█▄  ▓▓█  ░██░▓██▒  ▐▌██▒
            ░██▓ ▒██▒░██░ ▓█   ▓██▒ ██▓ ░██▓ ▒██▒▒▒█████▓ ▒██░   ▓██░
            ░ ▒▓ ░▒▓░░▓   ▒▒   ▓▒█░ ▒▓▒ ░ ▒▓ ░▒▓░░▒▓▒ ▒ ▒ ░ ▒░   ▒ ▒ 
              ░▒ ░ ▒░ ▒ ░  ▒   ▒▒ ░ ░▒    ░▒ ░ ▒░░░▒░ ░ ░ ░ ░░   ░ ▒░
              ░░   ░  ▒ ░  ░   ▒    ░     ░░   ░  ░░░ ░ ░    ░   ░ ░ 
               ░      ░        ░  ░  ░     ░        ░              ░ 
                                     ░                               
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'dosRebel'">
          <pre class="dos-rebel">
            ███████████  █████  █████████    ███████████  █████  ███████████   █████
            ░░███░░░░░███░░███  ███░░░░░███  ░░███░░░░░███░░███  ░░███░░██████ ░░███ 
             ░███    ░███ ░███ ░███    ░███   ░███    ░███ ░███   ░███ ░███░███ ░███ 
             ░██████████  ░███ ░███████████   ░██████████  ░███   ░███ ░███░░███░███ 
             ░███░░░░░███ ░███ ░███░░░░░███   ░███░░░░░███ ░███   ░███ ░███ ░░██████ 
             ░███    ░███ ░███ ░███    ░███   ░███    ░███ ░███   ░███ ░███  ░░█████ 
             █████   ███████████████   ████████████   █████░░████████  █████  ░░█████
            ░░░░░   ░░░░░░░░░░░░░░░   ░░░░░░░░░░░░   ░░░░░  ░░░░░░░░  ░░░░░    ░░░░░ 
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'elite'">
          <pre class="elite">
            ▄▄▄  ▪   ▄▄▄· ▄▄▄  ▄• ▄▌ ▐ ▄ 
            ▀▄ █·██ ▐█ ▀█ ▀▄ █·█▪██▌•█▌▐█
            ▐▀▀▄ ▐█·▄█▀▀█ ▐▀▀▄ █▌▐█▌▐█▐▐▌
            ▐█•█▌▐█▌▐█ ▪▐▌▐█•█▌▐█▄█▌██▐█▌
            .▀  ▀▀▀▀ ▀  ▀▀.▀  ▀ ▀▀▀ ▀▀ █▪
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'theEdge'">
          <pre class="the-edge">
            █▄▄▄▄ ▄█ ██    █▄▄▄▄  ▄      ▄   
            █  ▄▀ ██ █ █   █  ▄▀   █      █  
            █▀▀▌  ██ █▄▄█  █▀▀▌ █   █ ██   █ 
            █  █  ▐█ █  █  █  █ █   █ █ █  █ 
              █    ▐    █ ██ █  █▄ ▄█ █  █ █ 
             ▀         █    ▀    ▀▀▀  █   ██ 
                      ▀                      
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'bigMoney'">
          <pre class="big-money">
             _______   ______   ______       _______   __    __  __    __ 
            /       \ /      | /      \     /       \ /  |  /  |/  \  /  |
            $$$$$$$  |$$$$$$/ /$$$$$$  |    $$$$$$$  |$$ |  $$ |$$  \ $$ |
            $$ |__$$ |  $$ |  $$ |__$$ |    $$ |__$$ |$$ |  $$ |$$$  \$$ |
            $$    $$<   $$ |  $$    $$ |    $$    $$< $$ |  $$ |$$$$  $$ |
            $$$$$$$  |  $$ |  $$$$$$$$ |    $$$$$$$  |$$ |  $$ |$$ $$ $$ |
            $$ |  $$ | _$$ |_ $$ |  $$ | __ $$ |  $$ |$$ \__$$ |$$ |$$$$ |
            $$ |  $$ |/ $$   |$$ |  $$ |/  |$$ |  $$ |$$    $$/ $$ | $$$ |
            $$/   $$/ $$$$$$/ $$/   $$/ $$/ $$/   $$/  $$$$$$/  $$/   $$/ 
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'big'">
          <pre class="big">
             ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄     ▄▄▄▄▄▄▄▄▄▄▄  ▄         ▄  ▄▄        ▄ 
            ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌   ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░▌      ▐░▌
            ▐░█▀▀▀▀▀▀▀█░▌ ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌   ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌░▌     ▐░▌
            ▐░▌       ▐░▌     ▐░▌     ▐░▌       ▐░▌   ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌▐░▌    ▐░▌
            ▐░█▄▄▄▄▄▄▄█░▌     ▐░▌     ▐░█▄▄▄▄▄▄▄█░▌   ▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░▌ ▐░▌   ▐░▌
            ▐░░░░░░░░░░░▌     ▐░▌     ▐░░░░░░░░░░░▌   ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌  ▐░▌  ▐░▌
            ▐░█▀▀▀▀█░█▀▀      ▐░▌     ▐░█▀▀▀▀▀▀▀█░▌   ▐░█▀▀▀▀█░█▀▀ ▐░▌       ▐░▌▐░▌   ▐░▌ ▐░▌
            ▐░▌     ▐░▌       ▐░▌     ▐░▌       ▐░▌   ▐░▌     ▐░▌  ▐░▌       ▐░▌▐░▌    ▐░▌▐░▌
            ▐░▌      ▐░▌  ▄▄▄▄█░█▄▄▄▄ ▐░▌       ▐░▌ ▄ ▐░▌      ▐░▌ ▐░█▄▄▄▄▄▄▄█░▌▐░▌     ▐░▐░▌
            ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌      ▐░░▌
             ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀         ▀  ▀  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀        ▀▀ 
                                                                                             
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'3dAscii'">
          <pre class="three-d-ascii">
             _______    __          __                _______   ____  ____  _____  ___   
            /"      \  |" \        /""\              /"      \ ("  _||_ " |(\"   \|"  \  
           |:        | ||  |      /    \            |:        ||   (  ) : ||.\\   \    | 
           |_____/   ) |:  |     /' /\  \           |_____/   )(:  |  | . )|: \.   \\  | 
            //      /  |.  |    //  __'  \    _____  //      /  \\ \__/ // |.  \    \. | 
           |:  __   \  /\  |\  /   /  \\  \  ))_  ")|:  __   \  /\\ __ //\ |    \    \ | 
           |__|  \___)(__\_|_)(___/    \___)(_____( |__|  \___)(__________) \___|\____\)
          </pre>
        </ng-container>
        <ng-container *ngSwitchCase="'deltaCorpse'">
          <pre class="delta-corpse">
            ▄████████  ▄█     ▄████████    ▄████████ ███    █▄  ███▄▄▄▄   
            ███    ███ ███    ███    ███   ███    ███ ███    ███ ███▀▀▀██▄ 
            ███    ███ ███▌   ███    ███   ███    ███ ███    ███ ███   ███ 
           ▄███▄▄▄▄██▀ ███▌   ███    ███  ▄███▄▄▄▄██▀ ███    ███ ███   ███ 
          ▀▀███▀▀▀▀▀   ███▌ ▀███████████ ▀▀███▀▀▀▀▀   ███    ███ ███   ███ 
          ▀███████████ ███    ███    ███ ▀███████████ ███    ███ ███   ███ 
            ███    ███ ███    ███    ███   ███    ███ ███    ███ ███   ███ 
            ███    ███ █▀     ███    █▀    ███    ███ ████████▀   ▀█   █▀  
            ███    ███                     ███    ███                      
          </pre>
        </ng-container>
      </div>
    </div>

    <!-- ---------------------------- COMMAND INPUT ---------------------------- -->
    <div class="command-input">
      <div class="input-group">
        <ng-container *ngIf="showsSpinner">
          <div class="spinner"></div>
        </ng-container>
        <input
          [(ngModel)]="inputString"
          placeholder=" > type '--help' + enter key for commands"
          type="text"
          (outsideClick)="focusInput()"
          (keyup.enter)="onEnter($event)"
          (keydown.esc)="onEscape($event)"
          #commandLineInput
          autofocus>
      </div>
    </div>
  </div>
</div>
