<div [ngClass]="isMobile ? 'toggle-switch mobile' : 'toggle-switch'">
  <div class="wrapper-area">
    <ng-container *ngIf="showsFirst">
      <a
        (click)="onFirstTabClick($event)"
        [ngClass]="btn.first.isActive ? 'active' : ''">
        Both
      </a>
    </ng-container>

    <a
      (click)="onSecondTabClick($event)"
      [ngClass]="btn.second.isActive ? 'active' : '' "
      >
      {{ isMobile ? 'Product Mgmt' : 'Product Management' }}
    </a>

    <a
      (click)="onThirdTabClick($event)"
      [ngClass]="btn.third.isActive ? 'active' : ''"
      >
      {{ isMobile ? 'Software Dev' : 'Software Development' }}
    </a>
  </div>
</div>
