@import '~@riapacheco/yutes/season/two.scss';
@import '../../../scss/colors.scss';
@import '../../../scss//mixins.scss';


$br: 6px;
$title-height: 4rem;
.dialog-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #00000050;
  backdrop-filter: blur(3px);

  .structure-layer {
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .dialog-container {
      border-radius: $br;
      background-image: linear-gradient(to bottom right, $midnight, $midnight-dark);
      box-shadow: 4px 8px 28px black;
      padding: 20px;
      margin-top: -2rem;
      .title {
        min-height: $title-height;
        height: $title-height;
        max-height: $title-height;
        line-height: $title-height;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
      }
    }
  }
}

$close-btn-height: 4.5rem;
.close-btn {
  border: 2px solid $canary-dark;
  position: absolute;
  top: 0;
  right: 0;
  height: $close-btn-height;
  width: $close-btn-height;
  border-radius: $close-btn-height;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  margin: 1.5rem;

  box-shadow: 4px 6px 12px #00000050;

  background-color: $canary-dark;
  background-image: linear-gradient(to bottom right, $canary-dark, $canary-medium);
  border-bottom: 4px solid $canary-dark;
  border-left: 4px solid $canary-medium;
  border-right: 4px solid $canary-dark;
  border-top: 4px solid $canary-medium;
  .material-icons {
    color: $black;
    text-shadow: 4px 6px 12px #00000050;
  }

  &:hover {
    background-color: $white;
    border: none;
    border-right: 4px solid $canary-dark;
    border-top: 4px solid $canary-medium;
    .material-icons {
      border: none;
      color: $black;
    }
  }

  &:active {
    background-color: $steel-dark;
    border-bottom: none;
    border-left: none;
    .material-icons {
      color: $black;
    }
  }
}