<div [@slideDownTrigger]="showsBanner ? 'open' : 'close'" [ngClass]="isMobile ? 'banner mobile' : 'banner'">
  <div class="banner-content">
    <div class="main-content">
      <h4>
        Listen to "Quantum Supremacy"
      </h4>
      <span >
        The third track on <strong>Robots vs Humans</strong>. Since it uses the Travis Barker drum kit, does this mean he's "featured"?
      </span>
      <div class="albums-block">
        <img
          [ngClass]="isMobile ? 'album-art mt-3 mobile' : 'album-art mt-3'"
          [src]="banner.image"
          (click)="onBannerClick('confirm')"
          alt=""/>
      </div>
    </div>

    <div class="right-content">
      <a (click)="onBannerClick('dismiss')">
        Dismiss
      </a>
      <a (click)="onBannerClick('confirm')">
        Listen on SoundCloud <i class="material-icons">link</i>
      </a>
    </div>
  </div>
</div>
<app-tooltip></app-tooltip>
<ng-container *ngIf="topNavClass.isShowing">
  <app-top-nav
    [navClass]="topNavClass">
  </app-top-nav>
</ng-container>
<app-toast></app-toast>
<app-sidebar></app-sidebar>

<router-outlet (activate)="onActivate()"></router-outlet>
<app-dialog-overlay
  [isMobile]="isMobile">
</app-dialog-overlay>
