<div [@slideDownTrigger]="showsBanner ? 'open' : 'close'" [ngClass]="isMobile ? 'banner mobile' : 'banner'">
  <div class="banner-content">
    <div class="main-content">
      <h4>
        Listen to "The Multiverse" and "Rogue Planet"
      </h4>
      <span >
        The first two instrumental tracks, for my upcoming album, are available on <a href="https://ribeets.studio"><strong>ribeets.studio</strong></a> (and <a href="https://soundcloud.com/ribeets">SoundCloud</a>) until they hit Spotify early 2023!
      </span>
      <div class="albums-block">
        <img
          [ngClass]="isMobile ? 'album-art mt-3 mobile' : 'album-art mt-3'"
          [ngStyle]="isMobile ? {'margin-right': '0rem',  'margin-bottom': '1.5rem'} : {'margin-right': '2rem', 'margin-bottom': '0rem'}"
          src="../assets/img/multiverse_image.png"
          (click)="onBannerClick('confirm')"
          alt=""/>
        <img src="../assets/img/Rogue_Planet_Image.png"
          (click)="onBannerClick('confirm')"
          [ngClass]="isMobile ? 'album-art mobile' : 'album-art' "
          alt="">
      </div>
    </div>

    <div class="right-content">
      <a (click)="onBannerClick('dismiss')">
        Dismiss
      </a>
      <a (click)="onBannerClick('confirm')">
        Listen at the Studio <i class="material-icons">link</i>
      </a>
    </div>
  </div>
</div>
<app-tooltip></app-tooltip>
<ng-container *ngIf="topNavClass.isShowing">
  <app-top-nav
    [navClass]="topNavClass">
  </app-top-nav>
</ng-container>
<app-toast></app-toast>
<app-sidebar></app-sidebar>

<router-outlet (activate)="onActivate()"></router-outlet>
<app-dialog-overlay
  [isMobile]="isMobile">
</app-dialog-overlay>
