<div [@slideLeftTrigger]="(toast.showsToast$ | async) ? 'open' : 'close'" [ngClass]="isMobile ? 'toast mobile' : 'toast'">
  <div class="wrapper">
    <div class="content">
      <div class="title">
        <h4>
          {{ (toast.title$ | async) }}
        </h4>
      </div>

      <div class="description">
        <div class="inner-html" [innerHTML]="(toast.description$ | async)"></div>
      </div>

    </div>

    <a class="close-btn" (click)="toast.dismissToast()">
      <i class="material-icons">close</i>
    </a>
  </div>
</div>