<app-top-nav style="position: absolute; width: 100%;" [navClass]="navClass"></app-top-nav>

<app-section
  [sectionClass]="'section pink-paint'"
  [minHeight]="isMobile ? '150vh' : '100vh'">
  <div [ngClass]="isMobile ? 'hero mobile' : 'hero'" sectionContent>
    <div class="content">
      <div class="my-image">
        <img [style.width]="isMobile ? '200px' : '300px'" src="https://lvvhyxbvfcygnlzlbsok.supabase.co/storage/v1/object/sign/ria-gets-buckets/website/IMG_0632.JPG?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJyaWEtZ2V0cy1idWNrZXRzL3dlYnNpdGUvSU1HXzA2MzIuSlBHIiwiaWF0IjoxNjYxMzAzNjkzLCJleHAiOjE5NzY2NjM2OTN9.QefFfa7tC7acs-jIP-5PxDWrRo95_HZG1Lx1zneVy7Q" alt="">
      </div>

      <div class="text-content">
        <h1>
          You met me at a <span class="strikethrough">very strange</span>&nbsp;<span class="new-word">hella dope</span> time in my life
        </h1>
        <div class="para">
          <div class="inner-html" [innerHTML]="heroPara"></div>
        </div>
        <a class="start-btn" (click)="scrollTo('firstSection')">
          <i class="material-icons">
            south
          </i>
          View my Experience
        </a>
      </div>
    </div>
  </div>
</app-section>

<div [style.display]="'none'" class="about-section cold-bore-technology" id="{{ sections[0].divId }}">
  
</div>