@import '~@riapacheco/yutes/season/two.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';

:host {
  color: $steel-regular;
}

%image-width-mobile {
  width: 250px;
}
%text-width-mobile {
  width: 100%;
}
.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  @include auto-width;

  .content {
    display: flex;
    flex-flow: row nowrap;
    .my-image {
      width: 35%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 50%;
        border: 3px solid $canary-dark;
        filter: brightness(1.1);
      }
    }

    .text-content {
      width: 610px;
      margin-left: 5rem;
      h1 {
        text-align: left;
        font-size: 6rem;
        line-height: 1.15;
        margin-bottom: 4rem;
        .strikethrough {
          opacity: 0.65;
        }
        .new-word {
          color: $canary-medium;
        }
      }

      .quote-source {
        width: 100%;
        
        margin-bottom: 4rem;
        padding-left: 5rem;
      }

      .para {
        margin-bottom: 4rem;
      }
    }


    .start-btn {
      @include btn($dark: true, $icon: true);
      &:hover {
        @include btn($dark: false, $icon: true);
      }
    }
  }
}

.hero {

  &.mobile {
    @include auto-width-mobile;
    min-height: 150vh;
    max-height: 150vh;
    .content {
      flex-flow: column nowrap;
      .my-image {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 6rem;
        @extend %image-width-mobile;
      }

      .text-content {
        @extend %text-width-mobile;
        margin-left: 0rem;
        h1 {
          @include h1-mobile;
          margin-bottom: 2rem;
          margin-bottom: 4rem;
          text-align: left;
        }
        .quote-source {
          text-align: left;
          padding-left: 0rem;
        }
        .para {
          @include body-text-mobile;
          text-align: left;
        }

        .button-group {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                               ACTUAL CONTENT                               */
/* -------------------------------------------------------------------------- */

$folder-height: 3.5rem;
%block-margin {
  width: 95%;
  margin: auto;
}

%folders-margin {
  width: 80%;
  margin: auto;
}
.content {
  padding-bottom: 3rem;
  .portfolio-item {
    .headline-block {
      padding: 4rem 2rem 0rem 2rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: flex-end;
      h4 {
        font-size: 2rem;
        line-height: 1.35;
        color: $steel-regular;
        // filter: brightness(0.7);
      }
      @extend %block-margin;
      &.reverse { justify-content:  flex-start;}
      &.opened { font-weight: bold; }
      &.mobile {
        h4 {
          @include h4-mobile;
        }
      }
    }
    .divider-block  {
      width: 95%;
      @extend %block-margin;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: 1.5rem;
      opacity: 0.5;
      .divider-line {
        border-bottom: 2px solid $midnight-medium;
        @extend %block-margin;
      }
      .material-icons {
        color: $soot-grey-light;
        font-size: 2.5rem;
      }

      &.mobile {
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
    }

    .folders {
      line-height: 1.3;
      &.mobile {
        font-size: 1.4rem;
        .folder {
          margin-bottom: 3rem;
        }
      }
      .folder {
        min-height: $folder-height;
        height: $folder-height;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1rem;
        margin-right: 1rem;
        transition: 200ms ease-in-out;

        span {
          font-weight: 500;
        }
        .icon {
          height: $folder-height;
          width: $folder-height;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          padding: 2.5rem;
          // border: 1px solid grey;
          .material-icons {
            display: inline-block;
            font-size: 2rem;
            color: $canary-dark;
            opacity: 0.4;
          }
        }
        &.reverse {
          flex-flow: row nowrap;
        }

        &:hover {
          color: $canary-dark;
        }
      }
      .folder-contents {
        padding-top: 1rem;
        border-right: 1px solid $canary-dark;
        font-size: 1.5rem;
        line-height: 1.6;
        margin-right: 2.8rem;
        padding-right: 2.5rem;
        margin-bottom: 2.5rem;
        text-align: right;
        color: $steel-dark;
        
        &.reverse {
          border-left: 1px solid $canary-dark;
          margin-left: 2.8rem;
          padding-left: 2.5rem;
          text-align: left;
          border-right: none;
        }


        .preview-group {
          display: block;
          // padding-top: 3.5rem;
          font-size: 1.6rem;
          .preview-btn {
            color: $steel-regular;
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            border: 1px solid $steel-regular;
            padding: 0.5rem 1.5rem 0.5rem 1rem;
            font-size: 1.3rem;
            border-radius: 5px;
            font-weight: 500;
            .material-icons {
              font-size: 1.8rem;
              margin-right: 1rem;
              color: $steel-regular;
            }

            &:hover {
              background-color: $steel-regular;
              color: $black;

              .material-icons {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
