@import '~@riapacheco/yutes/season/two.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';

%image-width-mobile {
  width: 250px;
}
%text-width-mobile {
  width: 100%;
}
.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  @include auto-width;

  .content {
    display: flex;
    flex-flow: row nowrap;
    .my-image {
      width: 35%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 50%;
        border: 3px solid $canary-dark;
        filter: brightness(1.1);
      }
    }

    .text-content {
      width: 610px;
      margin-left: 5rem;
      h1 {
        text-align: left;
        font-size: 6rem;
        line-height: 1.15;
        margin-bottom: 4rem;
        .strikethrough {
          opacity: 0.65;
        }
        .new-word {
          color: $canary-medium;
        }
      }

      .quote-source {
        width: 100%;
        
        margin-bottom: 4rem;
        padding-left: 5rem;
      }

      .para {
        margin-bottom: 4rem;
      }
    }
  }
}

.hero {

  &.mobile {
    @include auto-width-mobile;
    min-height: 150vh;
    max-height: 150vh;
    .content {
      flex-flow: column nowrap;
      .my-image {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 6rem;
        @extend %image-width-mobile;
      }

      .text-content {
        @extend %text-width-mobile;
        margin-left: 0rem;
        h1 {
          @include h1-mobile;
          margin-bottom: 2rem;
          margin-bottom: 4rem;
          text-align: left;
        }
        .quote-source {
          text-align: left;
          padding-left: 0rem;
        }
        .para {
          @include body-text-mobile;
          text-align: left;
        }

        .button-group {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.start-btn {
  @include btn($dark: true, $icon: true);

  &:hover {
    @include btn($dark: false, $icon: true);
  }
}

/* ------------------------------- FIRST BLOCK ------------------------------ */
$nav-height: 84px;
$min-height: calc(100vh - $nav-height);
.about-section {
  &.cold-bore-technology {
    width: 100%;
    min-height: $min-height;
  }
}