<app-top-nav style="position: absolute; width: 100%;" [navClass]="navClass">
</app-top-nav>

<!-- ----------------------------------------------------------------------- -->
<!--                        ***** HERO SECTION *****                         -->
<!-- ----------------------------------------------------------------------- -->
<app-section
  [sectionClass]="'section pink-paint'"
  [minHeight]="isMobile ? '160vh' : '100vh'">
  <div [ngClass]="isMobile ? 'hero mobile' : 'hero'" sectionContent>
    <div class="content">
      <div class="my-image">
        <img [style.width]="isMobile ? '200px' : '300px'" src="https://lvvhyxbvfcygnlzlbsok.supabase.co/storage/v1/object/sign/ria-gets-buckets/website/IMG_0632.JPG?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJyaWEtZ2V0cy1idWNrZXRzL3dlYnNpdGUvSU1HXzA2MzIuSlBHIiwiaWF0IjoxNjYxMzAzNjkzLCJleHAiOjE5NzY2NjM2OTN9.QefFfa7tC7acs-jIP-5PxDWrRo95_HZG1Lx1zneVy7Q" alt="">
      </div>
      <div class="text-content">
        <h1>
          You met me at a <span class="strikethrough">very strange</span>&nbsp;<span class="new-word">hella dope</span> time in my life
        </h1>
        <div class="para">
          <div class="inner-html" [innerHTML]="heroPara"></div>
        </div>
        <a class="start-btn" (click)="scrollTo('firstSection')">
          <i class="material-icons">
            south
          </i>
          Start Experience Timeline
        </a>
      </div>
    </div>
    <div #startHere></div>
  </div>
</app-section>



<!-- ----------------------------------------------------------------------- -->
<!--                      ***** COLD BORE SECTION *****                      -->
<!-- ----------------------------------------------------------------------- -->
<div class="pt-5" #cbtScrollBlock></div>
<app-split-block
  [blockTitle]="'Cold Bore Technology'"
  [left]="cbtSplitBlock.left"
  [right]="cbtSplitBlock.right"
  #cbtComponent>
  <!-- ----------------------------------------------------------------------- -->
  <!--                           COLD BORE LEFT SIDE                           -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="content" leftSectionContent>
    <!-- ---------------------------- SUMMARY VIEW ----------------------------- -->
    <ng-container *ngIf="cbtSplitBlock.left.isShowing && cbtSplitBlock.right.isShowing">
      <div 
        class="portfolio-item"
        *ngFor="let item of cbtPortfolioItems">
        <ng-container *ngIf="!item.isDevelopment">
          <div [ngClass]="isMobile ? 'headline-block mobile' : 'headline-block'">
            <h4>
              {{item.title}}
            </h4>
          </div>
          <div [ngClass]="isMobile ? 'divider-block mobile' : 'divider-block'">
            <i class="material-icons">{{item.icon}}</i>
            <div class="divider-line"></div>
          </div>
          
          <!-- ------------------------------- FOLDERS ------------------------------- -->
          <a
            *ngFor="let folder of item.folders"
            (click)="folder.isOpen = !folder.isOpen"
            [ngClass]="isMobile ? 'folders mobile' : 'folders'">
            <div class="folder">
              <div class="icon">
                <i class="material-icons">
                  {{ folder.isOpen ? 'folder_open' : 'folder' }}
                </i>
              </div>
              <span>{{ folder.title }}</span>
            </div>

            <ng-container *ngIf="folder.isOpen">
              <div class="folder-contents">
                <ng-container *ngIf="folder.contents">
                  <div class="pb-3">
                    {{ folder.contents }}
                  </div>
                </ng-container>
                <div class="preview-group">
                  <a
                    (click)="onFolderOpen(folder.target)"
                    class="preview-btn">
                    <i class="material-icons">open_in_browser</i>
                    {{ folder.targetLabel }}
                  </a>
                </div>
              </div>
            </ng-container>
          </a>
          
        </ng-container>
      </div>
    </ng-container>
    <!-- ---------------------------- EXPANDED VIEW ---------------------------- -->
    <ng-container *ngIf="cbtSplitBlock.left.isShowing && !cbtSplitBlock.right.isShowing">
    </ng-container>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!--                          COLD BORE RIGHT SIDE                           -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="content" rightSectionContent>
    <!-- ------------------------------- SUMMARY ------------------------------- -->
    <ng-container *ngIf="cbtSplitBlock.right.isShowing && cbtSplitBlock.left.isShowing">
      <div class="portfolio-item reverse"
        *ngFor="let item of cbtPortfolioItems">
        <ng-container *ngIf="item.isDevelopment">
          <div [ngClass]="isMobile ? 'headline-block reverse mobile' : 'headline-block reverse'">
            <h4>{{item.title}}</h4>
          </div>
          <div [ngClass]="isMobile ? 'divider-block mobile' : 'divider-block'">
            <div class="divider-line"></div>
            <i class="material-icons">{{item.icon}}</i>
          </div>
          <!-- ------------------------------- FOLDERS ------------------------------- -->
          <a 
            *ngFor="let folder of item.folders"
            (click)="folder.isOpen = !folder.isOpen"
            [ngClass]="isMobile ? 'folders mobile' : 'folders'">
            <div class="folder reverse">
              <div class="icon">
                <i class="material-icons">
                  {{ folder.isOpen ? 'folder_open' : 'folder' }}
                </i>
              </div>
              <span>{{ folder.title }}</span>
            </div>

            <ng-container *ngIf="folder.isOpen">
              <div class="folder-contents reverse">
                <ng-container *ngIf="folder.contents">
                  <div class="pb-2">
                    {{ folder.contents }}
                  </div>
                </ng-container>
                <div class="preview-group">
                  <a
                    (click)="onFolderOpen(folder.target)"
                    class="preview-btn">
                    <i class="material-icons">open_in_browser</i>
                    {{ folder.targetLabel }}
                  </a>
                </div>
              </div>

            </ng-container>
          </a>
        </ng-container>
      </div>
    </ng-container>
    <!-- ---------------------------- EXPANDED VIEW ---------------------------- -->
    <ng-container *ngIf="cbtSplitBlock.right.isShowing && !cbtSplitBlock.left.isShowing">

    </ng-container>
  </div>
</app-split-block>


<!-- ----------------------------------------------------------------------- -->
<!--                       ***** MYDOMA SECTION *****                        -->
<!-- ----------------------------------------------------------------------- -->
<div class="pt-5" #mydomaScrollBlock></div>
<app-split-block
  [blockTitle]="'Mydoma Studio'"
  [left]="mydomaSplitBlock.left"
  [right]="mydomaSplitBlock.right"
  >
  <!-- ----------------------------------------------------------------------- -->
  <!--                            MYDOMA LEFT SIDE                             -->
  <!-- ----------------------------------------------------------------------- -->
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>
    <!-- ------------------------------- SUMMARY ------------------------------- -->
    <ng-container *ngIf="mydomaSplitBlock.left.isShowing && mydomaSplitBlock.right.isShowing">
    </ng-container>
    <!-- ------------------------------ EXPANDED ------------------------------- -->
    <ng-container *ngIf="mydomaSplitBlock.left.isShowing && !mydomaSplitBlock.right.isShowing">

    </ng-container>

  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!--                            MYDOMA RIGHT SIDE                            -->
  <!-- ----------------------------------------------------------------------- -->
  <div [ngClass]="isMobile ? 'right-content mobile' : 'right-content'" rightSectionContent>
    <!-- ------------------------------- SUMMARY ------------------------------- -->
    <ng-container *ngIf="mydomaSplitBlock.right.isShowing && mydomaSplitBlock.left.isShowing">

    </ng-container>
    <!-- ------------------------------ EXPANDED ------------------------------- -->
    <ng-container *ngIf="mydomaSplitBlock.right.isShowing && !mydomaSplitBlock.left.isShowing">

    </ng-container>

  </div>
</app-split-block>

<!-- ----------------------------------------------------------------------- -->
<!--                        ***** STEER SECTION *****                        -->
<!-- ----------------------------------------------------------------------- -->
<div class="pt-5" #steerScrollBlock></div>
<app-split-block
  [blockTitle]="'Steer Software'"
  [left]="steerSplitBlock.left"
  [right]="steerSplitBlock.right"
  >
  <!-- ----------------------------------------------------------------------- -->
  <!--                               STEER LEFT                                -->
  <!-- ----------------------------------------------------------------------- -->
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>
    <!-- ------------------------- STEER LEFT SUMMARY -------------------------- -->
    <ng-container *ngIf="steerSplitBlock.left.isShowing && steerSplitBlock.right.isShowing">
    </ng-container>
    <!-- ------------------------ STEER RIGHT EXPANDED ------------------------- -->
    <ng-container *ngIf="steerSplitBlock.left.isShowing && !steerSplitBlock.right.isShowing">
    </ng-container>
  </div>
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" rightSectionContent>
    <!-- ------------------------- STEER RIGHT SUMMARY ------------------------- -->
    <ng-container *ngIf="steerSplitBlock.right.isShowing && steerSplitBlock.left.isShowing">
    </ng-container>
    <!-- ------------------------ STEER RIGHT EXPANDED ------------------------- -->
    <ng-container *ngIf="steerSplitBlock.right.isShowing && !steerSplitBlock.left.isShowing">
    </ng-container>
  </div>
</app-split-block>

<!-- ----------------------------------------------------------------------- -->
<!--                      ***** SHOWPASS SECTION *****                       -->
<!-- ----------------------------------------------------------------------- -->
<div class="pt-5" #showpassScrollBlock></div>
<app-split-block
  [blockTitle]="'Showpass'"
  [left]="showpassSplitBlock.left"
  [right]="showpassSplitBlock.right"
  >
  <!-- ----------------------------------------------------------------------- -->
  <!--                              SHOWPASS LEFT                              -->
  <!-- ----------------------------------------------------------------------- -->
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>

    <!-- ------------------------ SHOWPASS LEFT SUMMARY ------------------------ -->
    <ng-container *ngIf="showpassSplitBlock.left.isShowing && showpassSplitBlock.right.isShowing">
    </ng-container>
    <!-- ----------------------- SHOWPASS LEFT EXPANDED ------------------------ -->
    <ng-container *ngIf="showpassSplitBlock.left.isShowing && !showpassSplitBlock.right.isShowing">
    </ng-container>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!--                             SHOWPASS RIGHT                              -->
  <!-- ----------------------------------------------------------------------- -->
  <div [ngClass]="isMobile ? 'right-content mobile' : 'right-content'" rightSectionContent>

    <!-- ----------------------- SHOWPASS RIGHT SUMMARY ------------------------ -->
    <ng-container *ngIf="showpassSplitBlock.right.isShowing && showpassSplitBlock.left.isShowing">
    </ng-container>
    <!-- ----------------------- SHOWPASS RIGHT EXPANDED ----------------------- -->
    <ng-container *ngIf="showpassSplitBlock.right.isShowing && !showpassSplitBlock.left.isShowing">
    </ng-container>
  </div>
</app-split-block>

<!-- ----------------------------------------------------------------------- -->
<!--                       ***** INTRIGA SECTION *****                       -->
<!-- ----------------------------------------------------------------------- -->
<div class="pt-5" #intrigaScrollBlock></div>
<app-split-block
  [blockTitle]="'Intriga Mobility'"
  [left]="intrigaSplitBlock.left"
  [right]="intrigaSplitBlock.right"
  >

  <!-- ----------------------------------------------------------------------- -->
  <!--                              INTRIGA LEFT                               -->
  <!-- ----------------------------------------------------------------------- -->
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>

    <!-- ----------------------- INTRIGA LEFT - SUMMARY ------------------------ -->
    <ng-container *ngIf="intrigaSplitBlock.left.isShowing && intrigaSplitBlock.right.isShowing">
    </ng-container>

    <!-- ----------------------- INTRIGA LEFT - EXPANDED ----------------------- -->
    <ng-container *ngIf="intrigaSplitBlock.left.isShowing && !intrigaSplitBlock.right.isShowing">
    </ng-container>

  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!--                           INTRIGA RIGHT SIDE                            -->
  <!-- ----------------------------------------------------------------------- -->
  <div [ngClass]="isMobile ? 'right-content mobile' : 'right-content'" rightSectionContent>

    <!-- ----------------------- INTRIGA RIGHT - SUMMARY ----------------------- -->
    <ng-container *ngIf="intrigaSplitBlock.right.isShowing && intrigaSplitBlock.left.isShowing">
    </ng-container>

    <!-- ---------------------- INTRIGA RIGHT - EXPANDED ----------------------- -->
    <ng-container *ngIf="intrigaSplitBlock.right.isShowing && !intrigaSplitBlock.left.isShowing">
    </ng-container>

  </div>
</app-split-block>



