<app-top-nav style="position: absolute; width: 100%;" [navClass]="navClass"></app-top-nav>

<!-- -------------------------------- HERO --------------------------------- -->
<app-section
  [sectionClass]="'section pink-paint'"
  [minHeight]="isMobile ? '160vh' : '100vh'">
  <div [ngClass]="isMobile ? 'hero mobile' : 'hero'" sectionContent>
    <div class="content">
      <div class="my-image">
        <img [style.width]="isMobile ? '200px' : '300px'" src="https://lvvhyxbvfcygnlzlbsok.supabase.co/storage/v1/object/sign/ria-gets-buckets/website/IMG_0632.JPG?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJyaWEtZ2V0cy1idWNrZXRzL3dlYnNpdGUvSU1HXzA2MzIuSlBHIiwiaWF0IjoxNjYxMzAzNjkzLCJleHAiOjE5NzY2NjM2OTN9.QefFfa7tC7acs-jIP-5PxDWrRo95_HZG1Lx1zneVy7Q" alt="">
      </div>

      <div class="text-content">
        <h1>
          You met me at a <span class="strikethrough">very strange</span>&nbsp;<span class="new-word">hella dope</span> time in my life
        </h1>
        <div class="para">
          <div class="inner-html" [innerHTML]="heroPara"></div>
        </div>

        <a class="start-btn" (click)="scrollTo('firstSection')">
          <i class="material-icons">
            south
          </i>
          Start Experience Timeline
        </a>
      </div>
    </div>
    <div #startHere></div>
  </div>
</app-section>


<!-- ------------------------ COLD BORE TECHNOLOGY ------------------------- -->
<app-split-block
  [blockTitle]="'Cold Bore Technology'"
  (toggleStateSwitch)="getToggleState($event, 'Cold Bore Technology')"
  [left]="cbtSplitBlock.left"
  [right]="cbtSplitBlock.right"
  #cbtComponent>
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>
    <ng-container *ngIf="cbtSplitBlock.left.isShowing && cbtSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Cold Bore Technology block
        </h3>
      </div>
    </ng-container>
    <ng-container *ngIf="cbtSplitBlock.left.isShowing && !cbtSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Left side only for Cold Bore Technology block
        </h3>
      </div>
    </ng-container>
  </div>
  <div [ngClass]="isMobile ? 'right-content mobile' : 'right-content'" rightSectionContent>
    <div class="right-content">
      <ng-container *ngIf="cbtSplitBlock.right.isShowing && cbtSplitBlock.left.isShowing">
        <div class="text-area">
          <h6 class="mb-2">
            Minimal Content Weight
          </h6>
          <h3>
            Both sides for Cold Bore Technology block
          </h3>
        </div>
      </ng-container>
      <ng-container *ngIf="cbtSplitBlock.right.isShowing && !cbtSplitBlock.left.isShowing">
        <div class="text-area">
          <h6 class="mb-2">
            Significant Changes / Weight
          </h6>
          <h3>
            Right side only for Cold Bore Technology block
          </h3>

        </div>
      </ng-container>
    </div>
  </div>
</app-split-block>


<!-- ------------------------------- MYDOMA -------------------------------- -->
<app-split-block
  [blockTitle]="'Mydoma Studio'"
  (toggleStateSwitch)="getToggleState($event, 'Mydoma')"
  [left]="mydomaSplitBlock.left"
  [right]="mydomaSplitBlock.right"
  >
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>
    <ng-container *ngIf="mydomaSplitBlock.left.isShowing && mydomaSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Mydoma Studio block
        </h3>
      </div>
    </ng-container>

    <ng-container *ngIf="mydomaSplitBlock.left.isShowing && !mydomaSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes
        </h6>
        <h3>
          Left side only for Mydoma Studio block
        </h3>
      </div>
    </ng-container>
  </div>
  <div [ngClass]="isMobile ? 'right-content mobile' : 'right-content'" rightSectionContent>
    <ng-container *ngIf="mydomaSplitBlock.right.isShowing && mydomaSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Mydoma Studio block
        </h3>
      </div>
    </ng-container>

    <ng-container *ngIf="mydomaSplitBlock.right.isShowing && !mydomaSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Right side only for Mydoma Studio block
        </h3>
      </div>
    </ng-container>
  </div>
</app-split-block>

<!-- -------------------------------- STEER -------------------------------- -->
<app-split-block
  [blockTitle]="'Steer Software'"
  (toggleStateSwitch)="getToggleState($event, 'Steer')"
  [left]="steerSplitBlock.left"
  [right]="steerSplitBlock.right"
  >
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>
    <ng-container *ngIf="steerSplitBlock.left.isShowing && steerSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Steer Software block
        </h3>
      </div>
    </ng-container>
    <ng-container *ngIf="steerSplitBlock.left.isShowing && !steerSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Left side only for Steer Software block
        </h3>
      </div>
    </ng-container>
  </div>
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" rightSectionContent>
    <ng-container *ngIf="steerSplitBlock.right.isShowing && steerSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Steer Software block
        </h3>
      </div>
    </ng-container>
    <ng-container *ngIf="steerSplitBlock.right.isShowing && !steerSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Right side only for Steer Software block
        </h3>
      </div>
    </ng-container>
  </div>
</app-split-block>

<!-- ------------------------------ SHOWPASS ------------------------------- -->
<app-split-block
  [blockTitle]="'Showpass'"
  (toggleStateSwitch)="getToggleState($event, 'Showpass')"
  [left]="showpassSplitBlock.left"
  [right]="showpassSplitBlock.right"
  >
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>
    <ng-container *ngIf="showpassSplitBlock.left.isShowing && showpassSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Showpass block
        </h3>
      </div>
    </ng-container>
    <ng-container *ngIf="showpassSplitBlock.left.isShowing && !showpassSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Left side only for Showpass block
        </h3>
      </div>
    </ng-container>
  </div>
  <div [ngClass]="isMobile ? 'right-content mobile' : 'right-content'" rightSectionContent>
    <ng-container *ngIf="showpassSplitBlock.right.isShowing && showpassSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Showpass block
        </h3>
      </div>
    </ng-container>
    <ng-container *ngIf="showpassSplitBlock.right.isShowing && !showpassSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Right side only for Showpass block
        </h3>
      </div>
    </ng-container>
  </div>
</app-split-block>

<!-- -------------------------- INTRIGA MOBILITY --------------------------- -->
<app-split-block
  [blockTitle]="'Intriga Mobility'"
  (toggleStateSwitch)="getToggleState($event, 'Intriga Mobility')"
  [left]="intrigaSplitBlock.left"
  [right]="intrigaSplitBlock.right"
  >
  <div [ngClass]="isMobile ? 'left-content mobile' : 'left-content'" leftSectionContent>
    <ng-container *ngIf="intrigaSplitBlock.left.isShowing && intrigaSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Intriga Mobility block
        </h3>
      </div>
    </ng-container>

    <ng-container *ngIf="intrigaSplitBlock.left.isShowing && !intrigaSplitBlock.right.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Left side only for Intriga Mobility block
        </h3>
      </div>
    </ng-container>
  </div>
  <div [ngClass]="isMobile ? 'right-content mobile' : 'right-content'" rightSectionContent>
    <ng-container *ngIf="intrigaSplitBlock.right.isShowing && intrigaSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Minimal Content Weight
        </h6>
        <h3>
          Both sides for Intriga Mobility block
        </h3>
      </div>
    </ng-container>

    <ng-container *ngIf="intrigaSplitBlock.right.isShowing && !intrigaSplitBlock.left.isShowing">
      <div class="text-area">
        <h6 class="mb-2">
          Significant Changes / Weight
        </h6>
        <h3>
          Right side only for Intriga Mobility block
        </h3>
      </div>
    </ng-container>
  </div>
</app-split-block>



