<div [ngClass]="isMobile ? 'tabs-wrapper mobile' : 'tabs-wrapper'">
  <div class="tabs">
    <ng-container *ngIf="showsHint">
      <div [class]="hintClass">
        <i class="material-icons">south</i>
        <div class="text">Click tabs to view code</div>
        <i class="material-icons">south</i>
      </div>
    </ng-container>
    <div class="tab-buttons">
      <a
        [ngClass]="tabsState.preview ? 'active' : ''"
        (click)="onTabClick('preview')">
        <ng-container *ngIf="tabsState.preview">
          <div class="active-nib"></div>
        </ng-container>
        <i class="material-icons draw">
          view_in_ar
        </i>
      </a>
      <a
        (click)="onTabClick('html')"
        [ngClass]="tabsState.html ? 'active' : ''">
        <ng-container *ngIf="tabsState.html">
          <div class="active-nib"></div>
        </ng-container>
        html
      </a>
      <a
        [ngClass]="tabsState.typescript ? 'active' : ''"
        (click)="onTabClick('typescript')">
        <ng-container *ngIf="tabsState.typescript">
          <div class="active-nib"></div>
        </ng-container>
        ts
      </a>
      <a
        [ngClass]="tabsState.scss ? 'active' : ''"
        (click)="onTabClick('scss')">
        <ng-container *ngIf="tabsState.scss">
          <div class="active-nib"></div>
        </ng-container>
        scss
      </a>
    </div>

    <div class="tab-body" #hintBlock>
      <!-- ---------------------------- HTML TAB DATA ---------------------------- -->
      <ng-container *ngIf="tabsState.html">
        <div class="file-name">
          <div class="name">
            {{ htmlData?.fileName }}
          </div>
  
          <a *ngIf="!isMobile" class="icon-btn" (click)="onLinkClick(htmlData?.stackBlitzLink)">
            <i class="material-icons">bolt</i>
          </a>
        </div>
  
        <div [ngClass]="isMobile ? 'body mobile' : 'body'">
          <div class="code-snippet">
            <pre>
              <code
                [highlight]="htmlData.code"
                [languages]="[htmlData.language]"
                (highlighted)="onHighlight($event)"
                [lineNumbers]="true"
                >
              </code>
            </pre>
          </div>
        </div>
      </ng-container>

      <!-- ----------------------------- TYPESCRIPT ------------------------------ -->
      <ng-container *ngIf="tabsState.typescript">
        <div class="file-name">
          <div class="name">
            {{ typescriptData?.fileName }}
          </div>
  
          <a *ngIf="!isMobile" class="icon-btn" (click)="onLinkClick(htmlData?.stackBlitzLink)">
            <i class="material-icons">bolt</i>
          </a>
        </div>
  
        <div [ngClass]="isMobile ? 'body mobile' : 'body'">
          <div class="code-snippet">
            <pre>
              <code
                [highlight]="typescriptData.code"
                [languages]="[typescriptData.language]"
                (highlighted)="onHighlight($event)"
                [lineNumbers]="true"
                >
              </code>
            </pre>
          </div>
        </div>
      </ng-container>

      <!-- -------------------------------- SCSS --------------------------------- -->
      <ng-container *ngIf="tabsState.scss">
        <div class="file-name">
          <div class="name">
            {{ scssData?.fileName }}
          </div>
  
          <a *ngIf="!isMobile" class="icon-btn" (click)="onLinkClick(htmlData?.stackBlitzLink)">
            <i class="material-icons">bolt</i>
          </a>
        </div>
  
        <div [ngClass]="isMobile ? 'body mobile' : 'body'">
          <div class="code-snippet">
            <pre>
              <code
                [highlight]="scssData.code"
                [languages]="['scss']"
                (highlighted)="onHighlight($event)"
                [lineNumbers]="true"
                >
              </code>
            </pre>
          </div>
        </div>
      </ng-container>

      <!-- ------------------------------- PREVIEW ------------------------------- -->
      <ng-container *ngIf="tabsState.preview && htmlData?.component == 'Indicator Card'">
        <div class="code-preview" [style.height]="isMobile ? '700px' : '720px'">
          <app-code-preview
            [componentType]="htmlData.component">
          </app-code-preview>
        </div>
      </ng-container>

      <!-- ---------------------------- IPHONE MOCKUP ---------------------------- -->
      <ng-container *ngIf="tabsState.preview && htmlData?.component == 'Iphone Mockup'">
        <div class="code-preview" [style.height]="isMobile ? '700px' : '720px'">
          <app-code-preview
            [componentType]="'Iphone Mockup'">
          </app-code-preview>
        </div>
      </ng-container>
    </div>
  </div>
</div>