@import '../../../scss/mixins.scss';

app-top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.sample-wrapper {
  padding-top: 5rem;
  // max-width: 100vw;
}

.section-hero {
  height: 100vh;
  // width: inherit;
  @include auto-width;
  @include flex-center;

  &.mobile {
    h1 {
      @include h1-mobile;
    }
  }
}

.scroll-btn {
  @include cta-btn;
  .material-icons {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

app-iframe {
  width: 100%;
}