<app-top-nav
  [navClass]="navClass">
</app-top-nav>

<app-section
  [sectionClass]="introSectionClass"
  [minHeight]="heroHeight"
  >
  <div [ngClass]="isMobile ? 'section-hero mobile' : 'section-hero'" sectionContent>
    <h1 class="mb-3">User Interface Library</h1>
    <a class="scroll-btn" (click)="scrollDown()">
      <i class="material-icons">meeting_room</i>
      Enter Library
    </a>
  </div>
</app-section>

<div #bottomDiv></div>

<ng-container 
  *ngIf="libraryIsShowing">
  <app-iframe
    [embedList]="embedList"
    [wrapper]="wrapper">
  </app-iframe>
</ng-container>


