<app-top-nav
  [navClass]="navClass">
</app-top-nav>

<app-section
  [sectionClass]="'section blue-paint'"
  [minHeight]="'60vh'"
  >
  <div sectionContent [ngClass]="isMobile ? 'section-content mobile' : 'section-content'">
    <h1 class="mb-3">
      User Interfaces
    </h1>

    <div class="hero-para">
      Hand-crafted artisan components, showcased and displayed through... more custom components.
    </div>
  </div>
</app-section>


<div
  [ngClass]="isMobile ? 'portfolio-item mobile' : 'portfolio-item'">
  <div class="content" #hint>
    <div class="title">
      <h2>
        {{ cardsHtmlContent?.component }}
      </h2>
    </div>

    <div class="para">
      <div class="inner-html" [innerHTML]="cardsHtmlContent?.description"></div>
    </div>

    <ng-container *ngIf="cardsHtmlContent?.userStory">
      <div class="user-story">
        <div class="us-title">
          <h6>
            User Story
          </h6>
        </div>
        <div class="html-body">
          <div class="inner-html" [innerHTML]="cardsHtmlContent?.userStory"></div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="tabs-wrapper">
    <app-tabs
      [showsHint]="showsHint"
      [hintClass]="hintClass"
      [tabs]="indicatorCardsContent"
      [htmlData]="cardsHtmlContent"
      [typescriptData]="cardsTypescriptContent"
      [scssData]="cardsScssContent"
      >
    </app-tabs>
  </div>



</div>

<div [ngClass]="isMobile ? 'portfolio-item reverse mobile' : 'portfolio-item reverse'" >

  <div class="tabs-wrapper">
    <app-tabs
      [tabs]="iphoneMockupContent"
      [htmlData]="iphoneHtmlContent"
      [typescriptData]="iphoneTypescriptContent"
      [scssData]="iphoneScssContent"
      >
    </app-tabs>
  </div>
  <div class="content">
    <div class="title">
      <h2>
        {{ iphoneHtmlContent?.component }}
      </h2>
    </div>

    <div class="para">
      <div class="inner-html" [innerHTML]="iphoneHtmlContent?.description"></div>
    </div>
  </div>

</div>


<div #bottomDiv></div>



