@import '~@riapacheco/yutes/season/two.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.divider-white {
  width: 100%;
  display: block;
  border-bottom: 2px solid $white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

$desktop-height: 60vh;
$mobile-height: 80vh;
.hero { // aka hero-section
  // margin-top: 10rem;
  color: $black;
  .hero-content { // aka hero
    position: relative;
    
    .polygon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: $desktop-height;
      background-color: $canary-dark;
      background-image: linear-gradient(to bottom right, $canary-dark, $canary-regular, $canary-medium, $canary-light);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
      clip-path: polygon(0 0, 100% 0%, 60% 100%, 0 80%);

      &.mobile {
        min-height: $mobile-height;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 82%);
      }
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: $desktop-height;
      padding-top: 5rem;
      .text-information {
        @include auto-width;
        .title {
          margin-top: 8rem;
        }
        .paragraph {
          margin-top: 2rem;
          margin-bottom: 4rem;
          width: 500px;
        }
      }
      &.mobile {
        height: $mobile-height;
        padding-top: 8rem;
        .text-information {
          @include auto-width-mobile;
          .title {
            margin-top: 3rem;
            h1 {
              @include h1-mobile;
            }
          }
          .paragraph {
            margin-top: 2rem;
            margin-bottom: 3rem;
            width: 85%;
            @include body-text-mobile;
          }
        }
      }
    }
  }
}

/* ----------------------------- COMPUTER IMAGE ----------------------------- */
.computer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: $desktop-height;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  img {
    width: 36%;
    margin-right: -40%;
    margin-bottom: -15%;
  }

  &.mobile {
    height: $mobile-height;
    img {
      width: 75%;
      margin-bottom: -13rem !important;
    }
  }
}

/* ------------------------------ ALL SECTIONS ------------------------------ */
$browser-bar-height: 1.6rem;
.section-repeater {
  height: inherit;
  width: inherit;
  @include auto-width;
  
  .preview-terminal {
    position: relative;
    .top-browser-bar {
      border-radius: 5px 5px 0px 0px;
      position: absolute;
      top: 0;
      left: 0;
      width: 64%;
      height: $browser-bar-height;
      background-color: $midnight-dark;

      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      .buttons {
        height: inherit;
        width: 100px;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
      }
    }
    img {
      margin-top: $browser-bar-height;
      width: 64%;
      border-radius: 0px 0px 5px 5px;
      box-shadow: 8px 12px 52px rgba(0, 0, 0, 0.499);
    }
  }

  &.mobile {
    @include auto-width-mobile;

    .preview-terminal {
      .top-browser-bar {
        width: 100%;
        height: calc($browser-bar-height / 1.4);
      }
      img {
        margin-top: calc($browser-bar-height / 1.4);
        width: 100%;
      }
    }
    h1 {
      @include h1-mobile;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 sectionTwo                                 */
/* -------------------------------------------------------------------------- */

.section-two {
  min-height: calc(100vh - $floating-nav-height);
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .section-two-content {

    @include auto-width;
    .title {
      margin-bottom: 3rem;
    }
    .explainer-para {
      max-width: 60%;
      margin-bottom: 4rem;
    }

    .cta-btn-reverse {
      @include btn($dark: true, $icon: true);
    }
  }

  &.mobile {
    @include auto-width-mobile;
    @include body-text-mobile;


    .section-two-content {
      .explainer-para {
        max-width: 100%;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                sectionThree                                */
/* -------------------------------------------------------------------------- */
#sectionThree {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.section-three {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  @include auto-width;

  margin-left: 5%;
  margin-right: 5%;


  .divider-white {
    width: 65%;
  }

  .explainer {
    width: 65%;
    padding-bottom: 4rem;
  }

  &.mobile {
    @include auto-width-mobile;

    .divider-white,
    .explainer {
      width: 100%;
    }

    .explainer {
      @include body-text-mobile;
    }
  }

}

.call-to-action {
  @include btn($dark: true, $icon: true);
}

.start-button {
  @include btn($dark: true, $icon: true);
  &:hover {
    @include btn($dark: false, $icon: true);
  }
}

