<app-section>
  <div sectionContent>
    <div class="hero">
      <div class="hero-content">
        <div [ngClass]="isMobile ? 'polygon mobile' : 'polygon'"></div>

        <div [ngClass]="isMobile ? 'computer mobile' : 'computer'">
          <!-- <img src="../../../assets/img/computerThing.svg" alt=""> -->
          <ng-lottie
            [options]="options"
            (animationCreated)="onAnimate($event)">
          </ng-lottie>
        </div>

        <div [ngClass]="isMobile ? 'content mobile' : 'content'">
          <!-- <app-top-nav></app-top-nav> -->

          <div class="text-information">
            <div class="title">
              <h2>
                <span class="nowrap">Technical Product Manager /</span> <br> <span class="nowrap">Software Programmer</span> / <span class="nowrap">Music Producer</span>
              </h2>
            </div>

            <div class="paragraph">
              <!-- <div class="inner-html" [innerHTML]="sectionOne.body"></div> -->
              <div class="inner-html">
                There are millions of ways to build products, experiences, ideas, and catchy tunes. I'm too curious <i>not</i> to try all of them.
              </div>
            </div>

            <a
              (click)="scrollTo('sectionTwo')"
              class="start-button">
              <i class="material-icons">south</i>
              Start here
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</app-section>
<div #sectionTwoDiv></div>
<app-section [minHeight]="'150vh'">
  <div [ngClass]="isMobile ? 'section-repeater section-two mobile' : 'section-repeater section-two'" sectionContent>
    <!-- <div class="mb-15"></div> -->
    <div class="section-two-content">

      <div class="values">
        <div class="value">
          <div class="value-title">
            <i class="material-icons">shelves</i>
            <h3>Products</h3>
          </div>
          <div class="para">
            8 years of Product Management experience from roadmaps to market research to bi-weekly sprints.
          </div>

          <div *ngFor="let link of links">
            <a *ngIf="link.name == 'pm_portfolio'" (click)="followLink(link.url)" class="learn-more" target="_blank">
              {{ link.label }}
            </a>
          </div>
        </div>
        <div class="value">
          <div class="value-title">
            <i class="material-icons">data_object</i>
            <h3>Code</h3>
          </div>
          <div class="para">
            4 years of programming experience, starting as a solo founder that jumped into the code with her team.
          </div>
          <div *ngFor="let link of links">
            <a *ngIf="link.name == 'github'" (click)="followLink(link.url)" class="learn-more">
              {{ link.label }}
            </a>
          </div>
        </div>
        <div class="value">
          <div class="value-title">
            <i class="material-icons">music_note</i>
            <h3>Beats</h3>
          </div>
          <div class="para">
            Recent beat producer, influenced by hip hop, R&B, and mixtures of raw and digital instruments.
          </div>
          <div *ngFor="let link of links">
            <a *ngIf="link.name == 'ribeets'" (click)="followLink(link.url)" class="learn-more" target="_blank">
              {{ link.label }}
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="inner-html explainer-para" [innerHTML]="sectionTwo.body"></div> -->

      <!-- <a
        (click)="scrollTo('sectionThree')"
        class="start-button">
        <i class="material-icons">south</i>
        Secret views
      </a> -->
    </div>
  </div>
</app-section>

<div #sectionThreeDiv></div>
<app-section
  [sectionClass]="sectionThreeClass"
  >
  <div
    [style.min-height]="'100vh'"
    [style.padding-top]="'5rem'"
    [style.padding-bottom]="'5rem'"
    [ngClass]="isMobile ? 'section-repeater section-three  mobile' : 'section-repeater section-three'" sectionContent>

    <h1 class="pt-3">
      <div class="inner-html" [innerHTML]="sectionThree.title"></div>
    </h1>

    <div class="divider-white"></div>

    <div class="explainer mt-3">
      <div class="inner-html" [innerHTML]="sectionThree.body"></div>
    </div>


    <div class="preview-terminal">
      <div class="top-browser-bar">
        <div class="buttons">
          <div class="button"></div>
          <div class="button"></div>
          <div class="button"></div>
        </div>
      </div>
      <img src="../../../assets/img/main/terminalPreview.gif" alt="">
    </div>
  </div>
</app-section>
