

/* --------------------------------- SPINNER -------------------------------- */
@mixin spinner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    animation: changeContent .8s linear infinite;
    display: block;
    content: "⠋";
  }
}
@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}

