@import '~@riapacheco/yutes/season/two.scss';

$pink-dark: #fc2279;
$pink-medium: #fa3c88;
$pink-light: #fd5296;

$green-dark: #2ea861;
$green-medium: #44c479;
$green-light: #6ceba1;

$grey-dark: #1d1f27;
$grey-medium: #252831;

@mixin preview-component($component) {
  @if $component == 'Indicator Card' {
    .cards-wrapper {
      font-size: 1.6rem;
      -webkit-font-smoothing: antialiased !important;
      width: 100%;
      
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
    
      overflow-x: scroll !important;
      &:last-child {
        margin-bottom: 0rem;
      }
    
      .card {
        min-width: 190px;
        max-width: 190px;
        min-height: 220px;
        max-height: 220px;
        border-radius: 15px;
    
        margin-right: 1.3rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        
        padding: 15px;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
    
        &:nth-child(1) {
          background-image: linear-gradient(to bottom right, $bondi-dark, $bondi-medium, $bondi-light);
          .icon {
            .material-icons { color: $bondi-dark; }
          }
          .bottom-label {
            color: $bondi-light;
          }
        }
    
        &:nth-child(2) {
          background-image: linear-gradient(to bottom right, $green-dark, $green-medium, $green-light);
          .icon {
            .material-icons { color: $green-dark; }
          }
          .bottom-label {
            color: $green-light;
          }
        }
    
        
        &:nth-child(3) {
          background-image: linear-gradient(to bottom right, $pink-dark, $pink-medium, $pink-light);
          .icon {
            .material-icons { color: $pink-dark; }
          }
          .bottom-label {
            color: $pink-light;
          }
        }
    
    
        .icon {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
    
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
    
          background-image: linear-gradient(to bottom right, $grey-dark, $grey-medium);
    
          .material-icons {
            height: 1.7rem;
            width: 1.7rem;
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
          }
    
        }
    
        .amount-group {
          margin-top: -1rem;
          padding-left: 0.2rem;
          .label {
            color: $grey-dark;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: 0.03rem;
          }
      
          .indicator-preview {
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 800;
            color: $grey-dark;
            letter-spacing: -0.09rem;
      
            span {
              margin-right: 0.2rem;
              font-size: 1.1rem;
            }
          }
        }
    
        .bottom-label {
          font-size: 0.75rem;
          background-color: $grey-dark;
          padding: 0.3rem 0.6rem 0.3rem 0.5rem;
          border-radius: 20px;
          font-weight: 600;
          letter-spacing: 0.01rem;
        }
      }
    }
  }
}