@import '~@riapacheco/yutes/season/two.scss';

$pink-dark: #fc2279;
$pink-medium: #fa3c88;
$pink-light: #fd5296;

$green-dark: #2ea861;
$green-medium: #44c479;
$green-light: #6ceba1;

$grey-dark: #1d1f27;
$grey-medium: #252831;

@mixin preview-component($component) {
  @if $component == 'Indicator Card' {
    .cards-wrapper {

      -webkit-font-smoothing: antialiased !important;
      width: 100%;
      
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
    
      overflow-x: scroll !important;
      &:last-child {
        margin-bottom: 0rem;
      }
    
      .card {
        min-width: 190px;
        max-width: 190px;
        min-height: 220px;
        max-height: 220px;
        border-radius: 15px;
    
        margin-right: 1.3rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        
        padding: 15px;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
  
        .icon {
          .material-icons {
            font-size: 1.8rem;
          }
        }
    
        &:nth-child(1) {
          background-image: linear-gradient(to bottom right, $bondi-dark, $bondi-medium, $bondi-light);
          .icon {
            .material-icons { color: $bondi-dark; }
          }
          .bottom-label {
            color: $bondi-light;
          }
        }
    
        &:nth-child(2) {
          background-image: linear-gradient(to bottom right, $green-dark, $green-medium, $green-light);
          .icon {
            .material-icons { color: $green-dark; }
          }
          .bottom-label {
            color: $green-light;
          }
        }
    
        
        &:nth-child(3) {
          background-image: linear-gradient(to bottom right, $pink-dark, $pink-medium, $pink-light);
          .icon {
            .material-icons { color: $pink-dark; }
          }
          .bottom-label {
            color: $pink-light;
          }
        }
    
    
        .icon {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
    
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
    
          background-image: linear-gradient(to bottom right, $grey-dark, $grey-medium);
    
          .material-icons {
            height: 1.7rem;
            width: 1.7rem;
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
          }
    
        }
    
        .amount-group {
          margin-top: -1rem;
          padding-left: 0.2rem;
          .label {
            color: $grey-dark;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.3rem;
            letter-spacing: 0.03rem;
          }
      
          .indicator-preview {
            display: flex;
            align-items: center;
            font-size: 3.5rem;
            font-weight: 800;
            color: $grey-dark;
            letter-spacing: -0.09rem;
            margin-top: -1rem;
      
            span {
              margin-right: 0.2rem;
              font-size: 1.6rem;
            }
          }
        }
    
        .bottom-label {
          font-size: 1rem;
          background-color: $grey-dark;
          padding: 0.3rem 1.2rem;
          border-radius: 20px;
          font-weight: 600;
          letter-spacing: 0.01rem;
        }
      }
    }
  }
  @if $component == 'Iphone Mockup' {
    $left-buttons-height: 6.5rem;
    $right-button-height: 6.5rem;
    $screen-padding: 8px;
    .wrapper {
      width: 320px;
      height: 690px;
      margin: auto;
      margin-top: 2rem;
      padding: 5px;
      position: relative;
    
      &.mobile {
        width: 300px;
        height: 675px;
      }
      .iphone-area {
        height: 100%;
        width: 100%;
        padding: 3px;
        border-radius: 56px;
        background-color: #41414146;
    
        .iphone {
          height: 100%;
          width: 100%;
          border-radius: 56px;
          background-color: rgb(24, 24, 24);
          padding: 8px;
          box-shadow: 22px 32px 32px rgba(0, 0, 0, 0.726);
          border-top: 2px solid rgba(255, 255, 255, 0.171);
          border-left: 4px solid rgba(255, 255, 255, 0.295);
    
          .screen {
            border: 2px solid black;
            height: 100%;
            width: 100%;
            
            border-radius: 48px;
            padding: $screen-padding;
            background: url('../assets/img/section/Section_paintBG1.png') no-repeat center;
            background-size: 290%;
            background-color: $canary-medium;
          }
        }
      }
    
      .left-buttons {
        width: 5px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    
        .button-top {
          margin-top: 10rem;
          width: inherit;
          height: 3rem;
        }
    
        .button-middle {
          margin-top: 3.5rem;
          width: inherit;
          height: $left-buttons-height;
        }
    
        .button-bottom {
          margin-top: 2rem;
          width: inherit; 
          height: $left-buttons-height;
        }
    
        .button-top,
        .button-middle,
        .button-bottom {
          border-radius: 5px 0px 0px 5px;
          border-left: 3.2px solid rgba(201, 201, 201, 0.212);
          background-color: rgb(31, 31, 31);
          border-top: 3px solid grey;
        }
      }
    
      .right-buttons {
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        .single-button {
          width: inherit;
          height: $right-button-height;
          margin-top: 15rem;
          background-color: rgb(22, 22, 22);
          border-radius: 0px 5px 5px 0px;
          border-top: 4px solid rgb(138, 138, 138);
          border-right: 2px solid grey;
        }
      }
    
      .top-nib {
        width: 120px;
        height: 30px;
        background-color: black;
        position: absolute;
        top: 10px;
        left: calc(50% - 60px);
        border-radius: 0px 0px 15px 15px;
    
      }
    }
  }
  @if $component == 'Iphone Mockup Placeholder' {
    $left-buttons-height: 6.5rem;
    $right-button-height: 6.5rem;
    $screen-padding: 8px;
    .wrapper {
      width: 320px;
      height: 690px;
      margin: auto;
      margin-top: 2rem;
      padding: 5px;
      position: relative;
    
      &.mobile {
        width: 300px;
        height: 675px;
      }
      .iphone-area {
        height: 100%;
        width: 100%;
        padding: 3px;
        border-radius: 56px;
        background-color: #41414146;
    
        .iphone {
          height: 100%;
          width: 100%;
          border-radius: 56px;
          background-color: rgb(24, 24, 24);
          padding: 8px;
          box-shadow: 22px 32px 32px rgba(0, 0, 0, 0.726);
          border-top: 2px solid rgba(255, 255, 255, 0.171);
          border-left: 4px solid rgba(255, 255, 255, 0.295);
    
          .screen {
            border: 2px solid black;
            height: 100%;
            width: 100%;
            background-color: black;
            border-radius: 48px;
            padding: $screen-padding;
          }
        }
      }
    
      .left-buttons {
        width: 5px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    
        .button-top {
          margin-top: 10rem;
          width: inherit;
          height: 3rem;
        }
    
        .button-middle {
          margin-top: 3.5rem;
          width: inherit;
          height: $left-buttons-height;
        }
    
        .button-bottom {
          margin-top: 2rem;
          width: inherit; 
          height: $left-buttons-height;
        }
    
        .button-top,
        .button-middle,
        .button-bottom {
          border-radius: 5px 0px 0px 5px;
          border-left: 3.2px solid rgba(201, 201, 201, 0.212);
          background-color: rgb(31, 31, 31);
          border-top: 3px solid grey;
        }
      }
    
      .right-buttons {
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        .single-button {
          width: inherit;
          height: $right-button-height;
          margin-top: 15rem;
          background-color: rgb(22, 22, 22);
          border-radius: 0px 5px 5px 0px;
          border-top: 4px solid rgb(138, 138, 138);
          border-right: 2px solid grey;
        }
      }
    
      .top-nib {
        width: 120px;
        height: 30px;
        background-color: black;
        position: absolute;
        top: 10px;
        left: calc(50% - 60px);
        border-radius: 0px 0px 15px 15px;
    
      }
    }
  }
  @if $component == 'Responsive Action Bar' {
    $header-height: 6rem;
    $bg-color: rgb(12, 13, 14);
    $placeholder-color: rgb(48, 54, 60);
    $icon-color: rgb(57, 65, 71);
    $input-height: 40px;
    $input-width: 200px;
    $icons-height: 2.5rem;
    .mock-wrapper {
      width: fit-content;
    }
    .action-header {
      margin: 3rem;
      height: $header-height;
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: space-between;

      position: relative;
      .left-header {}

      .right-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: flex-end;
        .button-group {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          
          a {
            height: calc($input-height - 2px);
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            border-radius: $input-height;
            margin-left: 1.5rem;
            font-size: 1.4rem;
            font-weight: 500;
            filter: brightness(0.8);
            white-space: nowrap;
            &.secondary {
              background-color: $cbt-coral;
            }

            &.primary {
              background-color: $cbt-teal-dark;
            }

            &:hover {
              filter: brightness(1.1);
            }
          }
        }
        .form-group {
          position: relative;
          margin-left: 1.5rem;
          .material-icons {
            // border: 1px solid red;
            position: absolute;
            left: 1rem;
            top: calc(($input-height / 2) - ($icons-height / 2));

            width: $icons-height;
            height: $icons-height;
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            color: $icon-color;

          }
          input {
            height: $input-height;
            max-height: $input-height;
            background-color: black;
            border-radius: $input-height;
            width: $input-width;
            color: white !important;
            padding-left: 3.8rem;
            &::placeholder {
              color: $placeholder-color;
              font-size: 1.4rem;
            }
          }
        }
      }

      .handle {
        color: pink;
        position: absolute;
        right: -1rem;
        
        .material-icons {
          transform: rotate(90deg);
        }

        &:hover {
          cursor: grab;
          color: $cbt-teal-dark;
        }
        &:active {
          cursor: grabbing;
          color: $cbt-coral;
        }
      }
    }

    $action-btn-width: 46px;
    $mobile-view-width: 370px;
    $bar-background-color: rgb(28, 32, 35);
    .mobile-wrapper {
      min-height: 500px;
      border: 1px solid $midnight-medium;
      width: $mobile-view-width;

      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-between;
      .action-title {
        padding: 20px;
      }
      .mobile-action-bar {
        width: 100%;
        height: 5rem;
        background-color:$bar-background-color;
        .content-area {
          position: relative;
          height: inherit;
          width: inherit;

          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;

          a {
            // border: 1px solid grey;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 4rem;
            .material-icons {
              font-size: 1.7rem;
              opacity: 0.3;
            }

            &.action-btn {
              width: $action-btn-width;
              height: $action-btn-width;
              border-radius: $action-btn-width;
              position: absolute;
              left: calc(($mobile-view-width / 2) - ($action-btn-width / 2));
              top: -1rem;
              background-image: linear-gradient(to bottom right, $bar-background-color, $bg-color);
              color: $cbt-teal-dark;
              filter: brightness(1.1);
              &.material-icons {
                color: $cbt-teal-dark;
              }
            }
          }
        }
      }
    }
  }
}