
$command-line-height: 45vh;
$terminal-window-height: calc(100vh - $command-line-height);
$floating-nav-height: 84px;

/* ---------------------------- RiCreated Navbar ---------------------------- */
$rc-height: 44px;
$rc-logo: 25px;

/* --------------------------------- Tooltip -------------------------------- */
$tooltip-font-size: 12px;