
<div class="code-preview" [ngSwitch]="componentType">
  <ng-container *ngSwitchCase="'Indicator Card'">
    <div class="cards-wrapper">
      <div class="card pink" *ngFor="let card of cards">
        <div class="icon">
          <i class="material-icons">
            {{ card.icon }}
          </i>
        </div>
    
        <div class="amount-group">
          <div class="label">
            {{ card.mainLabel }}
          </div>
      
          <div class="indicator-preview">
            <span>$</span>{{ card.amount }}
          </div>
        </div>
    
        <ng-container *ngIf="card.bottomLabel">
          <div class="bottom-label">
            {{ card.bottomLabel }}
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'Iphone Mockup'">
    <div class="wrapper">
      <div class="left-buttons">
        <div class="button-top"></div>
        <div class="button-middle"></div>
        <div class="button-bottom"></div>
      </div>
      <div class="iphone-area">
        <div class="iphone">
          <div class="screen">
          </div>
        </div>
      </div>
      <div class="right-buttons">
        <div class="single-button"></div>
      </div>
    </div>
  </ng-container>
</div>
