@import '~@riapacheco/yutes/season/two.scss';
@import '../../../scss/colors.scss';


%section-defaults {
  position: relative;
  min-width: 100vw;
  width: 100%;
  max-width: 100%;
  display: block !important;
}

.section-content {
  height: inherit !important;
  width: inherit !important;
}

.section {
  @extend %section-defaults;
  background-color: $black;
  color: $white;
  &.blue {
    background-color: #00A6C4;
    background-image: linear-gradient(to bottom right, $bondi-dark, $bondi-medium);
    background-color: $black;
  }

  &.painted {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $canary-medium;
      background-image: url('https://lvvhyxbvfcygnlzlbsok.supabase.co/storage/v1/object/sign/ria-gets-buckets/paintBG1.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJyaWEtZ2V0cy1idWNrZXRzL3BhaW50QkcxLnBuZyIsImlhdCI6MTY2MDUwMDg0MCwiZXhwIjoxOTc1ODYwODQwfQ.qjn79pdOJGdAaPVJsi93fSIsejBPK94umVV4rYQOzUs');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.orange {
    background-image: linear-gradient(to bottom right, $blood-orange-dark, $blood-orange-regular,$blood-orange-medium, $blood-orange-light);
  }
  &.pink-paint {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $canary-medium;
      background-image: url('../../../assets/patterns/pinkPaint.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.green-paint {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $canary-medium;
      background-image: url('../../../assets/patterns/06.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.blue-paint {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $bondi-medium;
      background-image: url('https://lvvhyxbvfcygnlzlbsok.supabase.co/storage/v1/object/sign/ria-gets-buckets/website/bluePurpleSplatter.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJyaWEtZ2V0cy1idWNrZXRzL3dlYnNpdGUvYmx1ZVB1cnBsZVNwbGF0dGVyLnBuZyIsImlhdCI6MTY2MTI5NTk5OCwiZXhwIjoxOTc2NjU1OTk4fQ.QD7WKc_jFeaO9sGwkl-11kvCNHuZAeBLviRdf_4Lqxk&t=2022-08-23T23%3A06%3A38.395Z');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.inkblot {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $bondi-medium;
      background-image: url('https://lvvhyxbvfcygnlzlbsok.supabase.co/storage/v1/object/sign/ria-gets-buckets/website/covers/Ink1.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJyaWEtZ2V0cy1idWNrZXRzL3dlYnNpdGUvY292ZXJzL0luazEuanBnIiwiaWF0IjoxNjYxODkxNjg5LCJleHAiOjE5NzcyNTE2ODl9.oOF4LrKEgXxf2vmZbZQLThbGN1ZYCgDwsdCTHX3HMFI&t=2022-08-30T20%3A34%3A49.152Z');
      background-repeat: no-repeat;
      filter: invert(90%);
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.marble {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $black;
      background-image: url('https://lvvhyxbvfcygnlzlbsok.supabase.co/storage/v1/object/sign/ria-gets-buckets/textures/marble/03.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJyaWEtZ2V0cy1idWNrZXRzL3RleHR1cmVzL21hcmJsZS8wMy5qcGciLCJpYXQiOjE2NjE5MDUyODksImV4cCI6MTk3NzI2NTI4OX0.oanXXkeenXZRWTkHO1mB6-0iIxOWvA1HduSopzhIi8M&t=2022-08-31T00%3A21%3A29.054Z');
      background-repeat: no-repeat;
      filter: brightness(0.4);
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
