@import '~@riapacheco/yutes/season/two.scss';
@import '../../../scss/colors.scss';


%section-defaults {
  position: relative;
  min-width: 100vw;
  width: 100%;
  max-width: 100%;
  display: block !important;
}

.section-content {
  height: inherit !important;
  width: inherit !important;
}

.section {
  @extend %section-defaults;
  background-color: $black;
  color: $white;
  &.blue {
    background-color: #00A6C4;
    background-image: linear-gradient(to bottom right, $bondi-dark, $bondi-medium);
    background-color: $black;
  }

  &.painted {
    display: block;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100vw;
      min-height: 100vh;

      ng-content {
        width: inherit;
        height: inherit;
        display: inline-block;
      }
    }

    .section-content > * {
      display: inline-block;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $canary-medium;
      background-image: url('../../../assets/img/section/Section_paintBG1.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.orange {
    background-image: linear-gradient(to bottom right, $blood-orange-dark, $blood-orange-regular,$blood-orange-medium, $blood-orange-light);
  }
  &.pink-paint {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $canary-medium;
      background-image: url('../../../assets/patterns/pinkPaint.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.green-paint {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $canary-medium;
      background-image: url('../../../assets/patterns/06.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.blue-paint {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $bondi-medium;
      background-image: url('../../../assets/img/section/Section_bluePurpleSplatter.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.inkblot {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $bondi-medium;
      background-image: url('../../../assets/img/section/Section_InkBlot.jpg');
      background-repeat: no-repeat;
      filter: invert(90%);
      background-position: 50% 50%;
      background-size: cover;
    }
  }
  &.marble {
    display: block;
    .section-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-color: $black;
      background-image: url('../../../assets/img/section/Section_marble.jpg');
      background-repeat: no-repeat;
      filter: brightness(0.4);
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
